<%= render "layouts/navigation" %>

<main class="container">
  <div class="card p-3 my-3">

    <div class="card-body">
      <h1 class="mt-2">Willkommen bei <%= t("application_name_html") %></h1>

      Wie können wir helfen?
    </div>
  </div>

  <h2>Dienstleistungen</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
</div>

  <div class="card p-3 my-3">
    <h3>Webseite</h3>
    <hr />

  </div>

  <div class="card p-3 my-3">
    <h3>Automatisierungen</h3>
    <hr />
    <div data-controller="new-website-animation">

      <div data-new-website-animation-target="animationField">
      </div>
    </div>
  </div>

  <div class="card p-3 my-3">
    <h3>Tests</h3>
    <hr />
    <div data-controller="new-website-animation">

      <div data-new-website-animation-target="animationField">
      </div>
    </div>
  </div>

</main>


<%= render "layouts/footer" %>
