<%= render "layouts/navigation" %>

<main class="container">
  <div class="card p-3 my-3 bg-e-color text-center">

    <div class="card-body">
      <h1 class="mt-2">
        Willkommen bei
        <br> <%= t("application_name_html") %>
      </h1>
      <hr>
      <p>
        Wie kann ich Ihnen helfen?
      </p>
      <p>
        Scrollspy
      </p>
      <p>
        Call-to-Action
      </p>

    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
  <div class="col">
    <div class="card h-100  bg-e-color">
      <div class="card-body">
        <h5 class="card-title text-center">Ich brauche eine Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Ich möchte etwas automatisieren</h5>
        <hr />
        <%= render "stimuli/automation" %>
      </div>
    </div>
  </div>
</div>

</main>


<%= render "layouts/footer" %>
