<%= render "layouts/navigation" %>

<main class="container">
  <h1 class=" text-center display-5 fw-bold my-3 text-e-color"><%= t("application_name_html") %></h1>
  <hr />
  <div class="row vh-100">
    <div class="h-100 col-12 col-sm-12 col-md-6 ">

      <div class="h-25">

      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Webseite</h2>
          <p class="card-text text-justify">

            Brauchen Sie eine Webseite mit bestimmten Funktionen und Features?


          </p>
          <!--
          <p class="card-text text-center">
            <i class="bi bi-arrow-right" style="font-size: 3rem;"></i>
          </p>
          -->
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-6">
      <%= render "stimuli/new_website_animation" %>

    </div>
  </div>

  <div class="p-5 bg-light rounded-3 my-3">
    <div class="container-fluid py-1">
      <h1 class="display-5 fw-bold mb-3"><%= t("application_name_html") %></h1>

      <div class="row">
          <div class="col-sm-12 col-md-8 mb-5">
            <p class="fs-4">
              <ul>
                  <li>
                      Webseiten
                  </li>
                  <li>
                      Automatisieren
                  </li>
                  <li>
                      Testen
                  </li>
                  <li>
                      SEO
                  </li>
              </ul>
            </p>
            <button class="btn btn-primary btn-lg" type="primary-button">Termin vereinbaren</button>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= render "stimuli/new_website_animation" %>

          </div>
      </div>

    </div>
  </div>



  <div class="card bg-transparent text-white p-3 my-3 text-center">

    <div class="card-body">
      <h1 class="mt-2">
        Willkommen bei
        <br> <%= t("application_name_html") %>
      </h1>
      <hr>
      <p>
        Wie kann ich Ihnen helfen?
      </p>
      <p>
        Scrollspy
      </p>
      <p>
        Call-to-Action
      </p>

    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Ich brauche eine Webseite</h5>
        <hr />
        <%= render "stimuli/new_website_animation" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Ich möchte etwas automatisieren</h5>
        <hr />
        <%= render "stimuli/automation" %>
      </div>
    </div>
  </div>
</div>

</main>


<%= render "layouts/footer" %>
